@model IEnumerable<DACS.Models.SizeGiay>
@{
    Layout = null;
}

<div class="row">
        <ul class="form-control-lg dropdown-toggle-split">
            Size:  @Html.DropDownList("Size")
        </ul>   
</div>