@{
    Layout = "~/Views/Shared/_Layout.cshtml";
 }

<!-- Archive Catagory & View Options -->
<div class="archive-catagory-view mb-50 d-flex align-items-center justify-content-between">

    <div class="view-options">
        <a href="archive-grid.html"><i class="fa fa-th-large" aria-hidden="true"></i></a>
        <a href="archive-list.html" class="active"><i class="fa fa-list-ul" aria-hidden="true"></i></a>
    </div>
</div>
<!-- Single Post Area -->
<div class="single-post-area style-2">
    <div class="row align-items-center">
        <div class="col-12 col-md-6">
            <!-- Post Thumbnail -->
            <div class="post-thumbnail">
                <img src="~/images/21.jpg" alt="">
                <!-- Video Duration -->
                <span class="video-duration">05.03</span>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <!-- Post Content -->
            <div class="post-content mt-0">
                <a href="#" class="post-cata cata-sm cata-success">Sports</a>
                <a href="single-post.html" class="post-title mb-2">May fights on after Johnson savages Brexit approach</a>
                <div class="post-meta d-flex align-items-center mb-2">
                    <a href="#" class="post-author">By Jane</a>
                    <i class="fa fa-circle" aria-hidden="true"></i>
                    <a href="#" class="post-date">Sep 08, 2018</a>
                </div>
                <p class="mb-2">Quisque mollis tristique ante. Proin ligula eros, varius id tristique sit amet, rutrum non ligula.</p>
                <div class="post-meta d-flex">
                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 32</a>
                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 42</a>
                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 7</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Single Post Area -->
<div class="single-post-area style-2">
    <div class="row align-items-center">
        <div class="col-12 col-md-6">
            <!-- Post Thumbnail -->
            <div class="post-thumbnail">
                <img src="~/images/about.jpg" alt="">
                <!-- Video Duration -->
                <span class="video-duration">05.03</span>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <!-- Post Content -->
            <div class="post-content mt-0">
                <a href="#" class="post-cata cata-sm cata-danger">Game</a>
                <a href="single-post.html" class="post-title mb-2">Thailand cave rescue: Boys 'doing well' after spending night</a>
                <div class="post-meta d-flex align-items-center mb-2">
                    <a href="#" class="post-author">By Jane</a>
                    <i class="fa fa-circle" aria-hidden="true"></i>
                    <a href="#" class="post-date">Sep 08, 2018</a>
                </div>
                <p class="mb-2">Quisque mollis tristique ante. Proin ligula eros, varius id tristique sit amet, rutrum non ligula.</p>
                <div class="post-meta d-flex">
                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 32</a>
                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 42</a>
                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 7</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Single Post Area -->
<div class="single-post-area style-2">
    <div class="row align-items-center">
        <div class="col-12 col-md-6">
            <!-- Post Thumbnail -->
            <div class="post-thumbnail">
                <img src="~/images/blog-2.jpg" alt="">
                <!-- Video Duration -->
                <span class="video-duration">05.03</span>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <!-- Post Content -->
            <div class="post-content mt-0">
                <a href="#" class="post-cata cata-sm cata-primary">Business</a>
                <a href="single-post.html" class="post-title mb-2">Theresa May battles Brexiteer backlash amid disquiet</a>
                <div class="post-meta d-flex align-items-center mb-2">
                    <a href="#" class="post-author">By Jane</a>
                    <i class="fa fa-circle" aria-hidden="true"></i>
                    <a href="#" class="post-date">Sep 08, 2018</a>
                </div>
                <p class="mb-2">Quisque mollis tristique ante. Proin ligula eros, varius id tristique sit amet, rutrum non ligula.</p>
                <div class="post-meta d-flex">
                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 32</a>
                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 42</a>
                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 7</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Single Post Area -->
<div class="single-post-area style-2">
    <div class="row align-items-center">
        <div class="col-12 col-md-6">
            <!-- Post Thumbnail -->
            <div class="post-thumbnail">
                <img src="~/images/blog-3.jpg" alt="">
                <!-- Video Duration -->
                <span class="video-duration">05.03</span>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <!-- Post Content -->
            <div class="post-content mt-0">
                <a href="#" class="post-cata cata-sm cata-danger">Game</a>
                <a href="single-post.html" class="post-title mb-2">Theresa May warned Brexit strategy 'risks putting Jeremy Corbyn</a>
                <div class="post-meta d-flex align-items-center mb-2">
                    <a href="#" class="post-author">By Jane</a>
                    <i class="fa fa-circle" aria-hidden="true"></i>
                    <a href="#" class="post-date">Sep 08, 2018</a>
                </div>
                <p class="mb-2">Quisque mollis tristique ante. Proin ligula eros, varius id tristique sit amet, rutrum non ligula.</p>
                <div class="post-meta d-flex">
                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 32</a>
                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 42</a>
                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 7</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Single Post Area -->
<div class="single-post-area style-2">
    <div class="row align-items-center">
        <div class="col-12 col-md-6">
            <!-- Post Thumbnail -->
            <div class="post-thumbnail">
                <img src="~/images/blog-2.jpg" alt="">
                <!-- Video Duration -->
                <span class="video-duration">05.03</span>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <!-- Post Content -->
            <div class="post-content mt-0">
                <a href="#" class="post-cata cata-sm cata-success">Sports</a>
                <a href="single-post.html" class="post-title mb-2">May fights on after Johnson savages Brexit approach</a>
                <div class="post-meta d-flex align-items-center mb-2">
                    <a href="#" class="post-author">By Jane</a>
                    <i class="fa fa-circle" aria-hidden="true"></i>
                    <a href="#" class="post-date">Sep 08, 2018</a>
                </div>
                <p class="mb-2">Quisque mollis tristique ante. Proin ligula eros, varius id tristique sit amet, rutrum non ligula.</p>
                <div class="post-meta d-flex">
                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 32</a>
                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 42</a>
                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 7</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Single Post Area -->
<div class="single-post-area style-2">
    <div class="row align-items-center">
        <div class="col-12 col-md-6">
            <!-- Post Thumbnail -->
            <div class="post-thumbnail">
                <img src="~/images/blog-1.jpg" alt="">
                <!-- Video Duration -->
                <span class="video-duration">05.03</span>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <!-- Post Content -->
            <div class="post-content mt-0">
                <a href="#" class="post-cata cata-sm cata-danger">Game</a>
                <a href="single-post.html" class="post-title mb-2">Thailand cave rescue: Boys 'doing well' after spending night</a>
                <div class="post-meta d-flex align-items-center mb-2">
                    <a href="#" class="post-author">By Jane</a>
                    <i class="fa fa-circle" aria-hidden="true"></i>
                    <a href="#" class="post-date">Sep 08, 2018</a>
                </div>
                <p class="mb-2">Quisque mollis tristique ante. Proin ligula eros, varius id tristique sit amet, rutrum non ligula.</p>
                <div class="post-meta d-flex">
                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 32</a>
                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 42</a>
                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 7</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Single Post Area -->
<div class="single-post-area style-2">
    <div class="row align-items-center">
        <div class="col-12 col-md-6">
            <!-- Post Thumbnail -->
            <div class="post-thumbnail">
                <img src="~/images/blog-3.jpg" alt="">
                <!-- Video Duration -->
                <span class="video-duration">05.03</span>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <!-- Post Content -->
            <div class="post-content mt-0">
                <a href="#" class="post-cata cata-sm cata-primary">Business</a>
                <a href="single-post.html" class="post-title mb-2">Theresa May battles Brexiteer backlash amid disquiet</a>
                <div class="post-meta d-flex align-items-center mb-2">
                    <a href="#" class="post-author">By Jane</a>
                    <i class="fa fa-circle" aria-hidden="true"></i>
                    <a href="#" class="post-date">Sep 08, 2018</a>
                </div>
                <p class="mb-2">Quisque mollis tristique ante. Proin ligula eros, varius id tristique sit amet, rutrum non ligula.</p>
                <div class="post-meta d-flex">
                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 32</a>
                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 42</a>
                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 7</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Single Post Area -->
<div class="single-post-area style-2">
    <div class="row align-items-center">
        <div class="col-12 col-md-6">
            <!-- Post Thumbnail -->
            <div class="post-thumbnail">
                <img src="~/images/blog-2.jpg" alt="">
                <!-- Video Duration -->
                <span class="video-duration">05.03</span>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <!-- Post Content -->
            <div class="post-content mt-0">
                <a href="#" class="post-cata cata-sm cata-danger">Game</a>
                <a href="single-post.html" class="post-title mb-2">Theresa May warned Brexit strategy 'risks putting Jeremy Corbyn</a>
                <div class="post-meta d-flex align-items-center mb-2">
                    <a href="#" class="post-author">By Jane</a>
                    <i class="fa fa-circle" aria-hidden="true"></i>
                    <a href="#" class="post-date">Sep 08, 2018</a>
                </div>
                <p class="mb-2">Quisque mollis tristique ante. Proin ligula eros, varius id tristique sit amet, rutrum non ligula.</p>
                <div class="post-meta d-flex">
                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 32</a>
                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 42</a>
                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 7</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Single Post Area -->
<div class="single-post-area style-2">
    <div class="row align-items-center">
        <div class="col-12 col-md-6">
            <!-- Post Thumbnail -->
            <div class="post-thumbnail">
                <img src="~/images/blog-3.jpg" alt="">
                <!-- Video Duration -->
                <span class="video-duration">05.03</span>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <!-- Post Content -->
            <div class="post-content mt-0">
                <a href="#" class="post-cata cata-sm cata-danger">Game</a>
                <a href="single-post.html" class="post-title mb-2">Thailand cave rescue: Boys 'doing well' after spending night</a>
                <div class="post-meta d-flex align-items-center mb-2">
                    <a href="#" class="post-author">By Jane</a>
                    <i class="fa fa-circle" aria-hidden="true"></i>
                    <a href="#" class="post-date">Sep 08, 2018</a>
                </div>
                <p class="mb-2">Quisque mollis tristique ante. Proin ligula eros, varius id tristique sit amet, rutrum non ligula.</p>
                <div class="post-meta d-flex">
                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 32</a>
                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 42</a>
                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 7</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Single Post Area -->
<div class="single-post-area style-2">
    <div class="row align-items-center">
        <div class="col-12 col-md-6">
            <!-- Post Thumbnail -->
            <div class="post-thumbnail">
                <img src="~/images/blog-2.jpg" alt="">
                <!-- Video Duration -->
                <span class="video-duration">05.03</span>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <!-- Post Content -->
            <div class="post-content mt-0">
                <a href="#" class="post-cata cata-sm cata-primary">Business</a>
                <a href="single-post.html" class="post-title mb-2">Theresa May battles Brexiteer backlash amid disquiet</a>
                <div class="post-meta d-flex align-items-center mb-2">
                    <a href="#" class="post-author">By Jane</a>
                    <i class="fa fa-circle" aria-hidden="true"></i>
                    <a href="#" class="post-date">Sep 08, 2018</a>
                </div>
                <p class="mb-2">Quisque mollis tristique ante. Proin ligula eros, varius id tristique sit amet, rutrum non ligula.</p>
                <div class="post-meta d-flex">
                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 32</a>
                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 42</a>
                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 7</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Single Post Area -->
<div class="single-post-area style-2">
    <div class="row align-items-center">
        <div class="col-12 col-md-6">
            <!-- Post Thumbnail -->
            <div class="post-thumbnail">
                <img src="~/images/blog-2.jpg" alt="">
                <!-- Video Duration -->
                <span class="video-duration">05.03</span>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <!-- Post Content -->
            <div class="post-content mt-0">
                <a href="#" class="post-cata cata-sm cata-danger">Game</a>
                <a href="single-post.html" class="post-title mb-2">Theresa May warned Brexit strategy 'risks putting Jeremy Corbyn</a>
                <div class="post-meta d-flex align-items-center mb-2">
                    <a href="#" class="post-author">By Jane</a>
                    <i class="fa fa-circle" aria-hidden="true"></i>
                    <a href="#" class="post-date">Sep 08, 2018</a>
                </div>
                <p class="mb-2">Quisque mollis tristique ante. Proin ligula eros, varius id tristique sit amet, rutrum non ligula.</p>
                <div class="post-meta d-flex">
                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 32</a>
                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 42</a>
                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 7</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Pagination -->
<nav class="mt-50">
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-left"></i></a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
    </ul>
</nav>
