<div class="colorlib-loader"></div>
<div id="page">
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="bread"><span><a href="index.html">Trang Chủ</a></span> / <span>Giỏ Hàng</span> / <span>Check Out</span> / <span>Thanh Toán Thành Công</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="colorlib-product">
        <div class="container">
            <div class="row row-pb-lg">
                <div class="col-sm-10 offset-md-1">
                    <div class="process-wrap">
                        <div class="process text-center active">
                            <p><span>01</span></p>
                            <h3>Giỏ Hàng</h3>
                        </div>
                        <div class="process text-center">
                            <p><span>02</span></p>
                            <h3>Thông Tin Đặt Hàng</h3>
                        </div>
                        <div class="process text-center">
                            <p><span>03</span></p>
                            <h3>Thanh Toán Thành Công</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 offset-sm-1 text-center">
                    <p class="icon-addcart"><span><i class="icon-check"></i></span></p>
                    <h2 class="mb-4">Cảm ơn bạn đã mua, đơn hàng của bạn đã hoàn tất</h2>
                    <p>
                        <a href="/home" class="btn btn-primary btn-outline-primary">Trang Chủ</a>
                        <a href="/home/product" class="btn btn-primary btn-outline-primary"><i class="icon-shopping-cart"></i> Tiếp tục mua sản phẩm</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
